*.pyc
venv/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.eggs
.mypy_cache/
.vscode
.idea/
.pytest_cache/
/tests/tta_eval.csv
/tests/tmp.onnx
/tests/test_plot_confusion_matrix.png